In [1]:
import pyranges as pr
import pandas as pd
import numpy as np
import h5py 
import os

from cerberus.cerberus import *
from cerberus.main import *

## write h5 ref from input beds and ics tsv

In [70]:
ic = '/Users/fairliereese/Documents/programming/mortazavi_lab/data/rnawg/lr_bulk/cerberus/temp/talon_ic.tsv'
tes = '/Users/fairliereese/Documents/programming/mortazavi_lab/data/rnawg/lr_bulk/cerberus/test_tes.bed'
tss = '/Users/fairliereese/Documents/programming/mortazavi_lab/data/rnawg/lr_bulk/cerberus/test_tss.bed'
tss_map = '/Users/fairliereese/Documents/programming/mortazavi_lab/data/rnawg/lr_bulk/cerberus/test_tes_source_map.bed'
tes_map = '/Users/fairliereese/Documents/programming/mortazavi_lab/data/rnawg/lr_bulk/cerberus/test_tss_source_map.bed'

# df = read_ic_ref(ic)
# df.head()

write_reference(tss, tes, ic, 'test.h5')

# df = read_cerberus_ends(tss, mode='tss')
# df

df = read_cerberus_source_map(tss_map)
df.head()

  Chromosome      Start        End Strand source               Name
0       chr1  169804296  169804436      +    v40  ENSG00000000460_2
1       chr1  169807786  169807887      +    v40  ENSG00000000460_4
2       chr1  169821668  169821769      +    v40  ENSG00000000460_5
3       chr1  169852986  169853135      +    v40  ENSG00000000460_3
4       chr1  169854029  169854130      +    v40  ENSG00000000460_1

In [32]:
import pandas as pd
import numpy as np

df = pd.DataFrame()
n = 5
test_1 = [np.nan for i in range(n)]
test_1[-1] = 'b'
df['test_1'] = test_1
df['test_1'] = df.test_1.astype('category')
df['test_2'] = ['a' for i in range(n)]

o = 'test.h5'
df.to_hdf(o, 'test', mode='w', format='table')

df = pd.read_hdf(o, key='test')

In [33]:
df.head()

  test_1 test_2
0    NaN      a
1    NaN      a
2    NaN      a
3    NaN      a
4      b      a