In [1]:
import pyranges as pr
import pandas as pd
import numpy as np
from cerberus.cerberus import *

## add source tracking to agg_ics

In [115]:
def parse_agg_ics_config(fname):
    """
    Parse a config file for intron chain aggregation
    
    Parameters:
        fname (str): Path to ic config file
        
    Returns:
        ics (list of str): List of fnames to ic files
        sources (list of str): Source names for each ic file
    """
    df = pd.read_csv(fname, header=None, sep=',')
    df.columns = ['fname', 'source']
    
    ics = df.fname.tolist()
    sources = df.source.tolist()
    
    return ics, sources

In [116]:
d = '/Users/fairliereese/mortazavi_lab/data/rnawg/lr_bulk/cerberus/'
v39_ics = '{}v39_ics.tsv'.format(d)
v29_ics = '{}v29_ics.tsv'.format(d)
talon_ics = '{}talon_ics.tsv'.format(d)

ics = [v39_ics, v29_ics, talon_ics]
sources = ['v39', 'v29', 'talon']

df = pd.DataFrame()
df['fname'] = ics
df['source'] = sources

fname = '/Users/fairliereese/mortazavi_lab/data/rnawg/lr_bulk/cerberus/agg_ics_config.csv'
df.to_csv(fname, sep=',', index=False, header=None)

In [117]:
df.source.unique()

array(['v39', 'v29', 'talon'], dtype=object)

In [118]:
ics, sources = parse_agg_ics_config(fname)

In [120]:
df = aggregate_ics(ics, sources)

In [121]:
df.head()

,Chromosome,Strand,Coordinates,Name,source
0,chr1,+,100038316-100049908-100050004-100058665-100058...,ENSG00000156875_1,"v39,v29,talon"
1,chr1,+,100058728-100059877-100060005-100061834,ENSG00000156875_2,"v39,v29"
2,chr1,+,100099490,ENSG00000226952_1,"v39,v29,talon"
3,chr1,+,1001263-1008193-1008279-1013983,ENSG00000187608_3,"v39,v29,talon"
4,chr1,+,1001281-1008193-1008279-1013983,ENSG00000187608_2,"v39,v29,talon"